* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  text-align: left;
}

.section {
  padding: 10px 60px 10px 60px;
}

h1, h2 {
  text-align: center;
  font-family: 'Courgette', cursive;
  letter-spacing: 3px;
}

.spanWord {
  color: white;
  font-style: italic;
}

#salutation {
  font-family: 'Great Vibes', cursive;
  font-style: oblique;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
  transform: rotate(-10deg);
}

#writeup {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  text-indent: 2em;
  padding-left: 20em, 30em;
  line-height: 2em;
  /* 
  font-family: 'EB Garamond', serif;
   font-family: 'Courgette', cursive;
   font-family: 'Cabin Condensed', sans-serif;
   font-family: 'Architects Daughter', cursive;
   */
}

#writeup .letter {
  font-family: 'Great Vibes', cursive;
  font-size: 2.2em;
  font-style: italic;
}

#section1 {
  animation: bg 8s infinite;
  background-size: .1rem 400%;
}

#section2 {
  background-color: #404040;
  color: white;
  font-family: 'Calibri', sans-serif, Tahoma;
  letter-spacing: 3px;
}

#section2 p {
  font-size: 1.20em;
}

.buttons {
  text-align: center;
}

.buttons a {
  color: white;
  margin: 0 auto;
}

#section3 {
  background-color: #1695A3;
  /* font-family: 'Istok Web', sans-serif;*/
  font-family: 'Marck Script', cursive;
  /* font-family: 'Marck Script', cursive;
  font-family: 'Josefin Sans', sans-serif;*/
  font-size: 1.75em;
  letter-spacing: 1px;
}

.pics {
  margin: 0 auto;
  padding: 12px;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.4);*/
  max-height: 80%;
  max-width: 80%;
  overflow: hidden;
  justify-content: space-between;
  /*border: 2px groove black;*/
}

.pics div {
  width: 100%;
  display: inline-block;
}

.pics .projectImage {
  height: auto;
  width: 100%;
}

.pics .projectDesc {
  display: inline-block;
}

.content_left {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  max-height: 100%;
}

.content_right {
  display: inline-block;
  width: 34%;
}

.contacts {
  margin: 0 auto;
  text-align: center;
  width: 120%;
  margin-left: -70px;
  margin-right: -40px;
  min-height: 160px;
  padding-top: 2px;
  letter-spacing: 16px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contacts .con_icon {
  font-size: 4.5em;
}

.con_icon {
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 18px;
  position: relative;
  color: white;
}

.con_icon:hover {
  font-size: 5.5em;
  color: #F6FBEB;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.centeralign {
  text-align: center;
}
