body {
  font-size: 100%;
}

#salutation {
  font-family: 'Great Vibes', cursive;
  font-style: oblique;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
  transform: rotate(-10deg);
}

#writeup {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  text-indent: 2em;
  padding-left: 20em, 30em;
  line-height: 2em;
  /* 
  font-family: 'EB Garamond', serif;
   font-family: 'Courgette', cursive;
   font-family: 'Cabin Condensed', sans-serif;
   font-family: 'Architects Daughter', cursive;
   */
}

#section1 {
  animation: bg 8s infinite;
  background-size: .1rem 400%;
}

#section2 {
  background-color: white;
  font-family: 'Cabin Condensed', sans-serif;
}

#section2 p {
  font-size: 2em;
}

.pics {
  margin: 50px auto;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  max-height: 500px;
  max-width: 500px;
  overflow: hidden;
  justify-content: space-between;
  border-radius: '10px groove black';
}

.pics div {
  width: 100%;
  display: inline-block;
  display: none;
}

.pics .projectImage {
  height: auto;
  width: 100%;
}

.pics .projectDesc {
  display: inline-block;
}
